<%- include('header') -%>


    <form method="post" action="/">
        <h1>Undirskriftarlisti</h1>
        <div class="form-field<%= locals.isInvalid('name', data.errors) ? ' form-input--invalid' : '' %>">
            <label class="form-label" for="name">Nafn*</label>
            <input class="form-input" type="text" id="name" name="name" value="<%= data.name %>"><br>
        </div>
        <div class="form-field<%= locals.isInvalid('nationalId', data.errors) ? ' form-input--invalid' : '' %>">
            <label class="form-label" for="nationalId">Kennitala*</label>
            <input class="form-input" type="text" id="nationalId" name="nationalId" value="<%= data.nationalId %>"
                placeholder="000000-0000"><br>
        </div>
        <div class="form-field">
            <label class="form-label" for="comment">Athugasemd:</label>
            <textarea class="form-input<%= locals.isInvalid('comment', data.errors) ? ' form-input--invalid' : '' %>"
                type="text" id="comment" name="comment"><%= data.comment %></textarea><br>
        </div>
        <div class="form-checkbox">
            <input class="form-checkbox" type="checkbox" id="anonymous" name="anonymous" <%=(data.anonymous===true)
                ? 'checked' : '' %>>
            <label class="form-checkboxlabel" for="anonymous">Ekki birta nafn รก lista</label>
        </div>
        <% if (data.errors) { %>
            <div class="form-errors">
                <ul class="form-error">
                    <% data.errors.forEach((error)=> { %>
                        <li class="form-error">
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
            </div>
            <% } %>
            <div class="button-box">
                <button>Skrifa undir</button>
            </div>
    </form>

    <hr>

    <% if (rowCount !==0) { %>
        <table class="signature__table">
            <tr class="signature__rowname">
                <th class="signature__date">Dags</th>
                <th class="signature__name">Nafn</th>
                <th class="signature__comment">Athugasemd</th>
            </tr>
            <% rows.forEach((signature)=> { %>
                <tr class="signature__item">
                    <td class="signature__field">
                        <%= locals.parseDate(signature.signed) %>
                    </td>
                    <td class="signature__field">
                        <%= (signature.anonymous) ? 'Nafnlaust' : signature.name %>
                    </td>
                    <td class="signature__field">
                        <%= signature.comment %>
                    </td>
                </tr>
                <% }) %>
        </table>
        <% } else { %>
            <p class="signature__text">Engar undirskriftir.</p>
            <% } %>

                <%- include('footer') -%>